@media (prefers-color-scheme: dark) {
  .barcode-scanning-active {
    /* NO ocultes todo con visibility: hidden */
    --background: transparent;
    --ion-background-color: transparent;
  }
}

/* Modo oscuro obligatorio */
:root {
  color-scheme: dark;
}

/* NO hagas que el cuerpo o la modal sean invisibles */
body.barcode-scanning-modal {
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanning {
  visibility: visible; /* Mantén visible */
}
