<!-- src/app/alumnos/alumnos.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos$ | async">
      {{ alumno.nombre }}
      <ion-button (click)="editarAlumno(alumno.id)">Editar</ion-button>
      <ion-button color="danger" (click)="borrarAlumno(alumno.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button (click)="agregarAlumno()">Agregar Alumno</ion-button>
</ion-content>
