<form (ngSubmit)="login()">
  <ion-item>
		<ion-label position="floating">email</ion-label>
		<ion-input type="email" [(ngModel)]="email" name="Email">Email</ion-input>
	</ion-item>

  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input type name="password" [(ngModel)]="password" name="password">Password</ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" expand="full" color="success">Loguer</ion-button>
  </form>
  <br>

<ion-button (click)="register()" expand="full" color="danger">Registrar</ion-button>