<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos$ | async">
      <ion-label>{{ alumno.nombre }}</ion-label>
      <ion-button (click)="editarAlumno(alumno)">Editar</ion-button>
      <ion-button color="danger" (click)="alumno.id ? borrarAlumno(alumno.id) : null">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Nombre del Alumno</ion-label>
    <ion-input [(ngModel)]="nuevoAlumno.nombre"></ion-input>
  </ion-item>
  <ion-button (click)="agregarAlumno()">Agregar Alumno</ion-button>
</ion-content>
